.timelineList .tList {
  position: relative;
  padding-left: 50px;
  padding-bottom: 0px;
  border-bottom: 1px solid #F7FAFF;
}
.timelineList .tList:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.timelineList .tList::before {
  content: " ";
  width: 25px;
  height: 55px;
  position: absolute;
  left: 0;
  font-size: 18px; /* Adjust the font size as needed */
  text-align: center; /* Center the tick symbol horizontally */
  line-height: 26px;
}
.timelineList .tList.completed::before {
  content: '✔';
  color: white;
  background: green; /* Green background for the before element when completed is true */
}

.timelineList .tList.notCompleted::before {
  background: lightgray;
  padding-top: 50px;  /* Blue background for the before element when completed is false */
}
.timelineList .tList.completed {
  margin-bottom: 10px; /* Add a margin for completed .tList elements */
}

.timelineList .tList.notCompleted {
  margin-bottom: 38px; /* Add a margin for not completed .tList elements */
}

.timelineList .tList h4 {
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 10px;
}
.timelineList .tList .date {
  color: #A9A9C8;
  font-size: 12px;
  margin: 0;
}
.timelineList .tList .text {
  margin: 10px 0 0;
  font-size: 13px;
}


/* For RTL Style */
[dir="rtl"] .timelineList .tList {
  padding-left: 0;
  padding-right: 20px;
}
[dir="rtl"] .timelineList .tList::before {
  left: auto;
  right: 0;
}
[dir="rtl"] .timelineList .tList::after {
  left: auto;
  right: 3px;
}

/* For dark mode */
[class="dark"] .timelineList .tList {
  border-bottom: 1px solid var(--borderColor);
}
[class="dark"] .timelineList .tList:last-child {
  border-bottom: none;
}
.timelineList .tList::after {
}

.list {
  list-style-type: none;
  display: flex;
  gap: 500px;
  /* Adjust the gap value to add spacing between the elements */
}